COLCON_IGNORE
simuladores_ws/
gazebo-tools-master/
repos/
src/my_node_cpp_backup.cpp
build/
install/
log/
.vscode/
.cache/
*.txt
*.json
*.log
_*
*.bak

simuladores_gazebo/my_diffdrive_bringup/
simuladores_gazebo/my_diffdrive_description/
